<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?font-family: 'Tourney', cursive;">
    <style>
      
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue Movie</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Blue Movie's</h1>
    <!-- TESTE123 -->

    <script src="../public/js/script.js"></script>
<!-- ======= -->
    <!-- <h1> Teste !!!</h1> -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Cadastro">Cadastro</a></li>
      <li><a href="#contact">Categorias</a></li>
      
      <li style="float:right"><a class="active" href="#about">Contato</a></li>
    </ul>
    <script src="../js/script.js"></script>
<!-- >>>>>>> ec66ab7f7dfb711780c888e3c1ccaa93bc88d6e1 -->


  </body>
</html>
