<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleC.css" />
    <title>Login</title>
</head>
<body>
    
    <ul>
        
        <li><a href="/">Home</a></li>
        <li><a href="/categorias">Categorias</a></li>
        <li ><a href="/cadastro">Login</a></li>
		<li ><a href="/Upload">Upload</a></li>
        <li><a class="active" href="#about">Contato</a></li>
      </ul>
<<<<<<< HEAD

<br><br><br>
      <form method="POST" action="fichaJS.html" onsubmit="return enviarDados();">
		
		<h2>LOGIN </h2>
	
				<label for="fname">Nome Completo:</label>
				<td><input type="text" name="nome" id="nome" placeholder="Digite seu nome.."></td>
			
				<label for="fmail">Email:</label>
				<td><input type="text" name="email" id="email" placeholder="Digite seu email.."></td>
			
				<label for="fpassword">Senha:</label>
				<td><input type="password" name="senha" id="senha" placeholder="Digite sua senha.."></td>
			
				<input type="submit" value="Confirmar">
		</table>
	</form>
      
</body>
</html>