<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro</title>
</head>
<body>
    
    <ul>
        
        <li><a href="/">Home</a></li>
        <li><a href="/Cadastro">Cadastro Clientes</a></li>
        <li><a href="/Cadastro">Cadastro de Filmes</a></li>
        <li><a href="#contact">Categorias</a></li>
        <li ><a href="/login">Login</a></li>
        <li><a class="active" href="#about">Contato</a></li>
      </ul>
<<<<<<< HEAD

<br><br><br><br><br>
      <form method="POST" action="fichaJS.html" onsubmit="return enviarDados();">
		<table>
			<tr>
				<td>Nome: </td>
				<td><input type="text" name="nome" id="nome"></td>
			</tr>
            <tr>
				<td>Sobrenome: </td>
				<td><input type="text" name="nome" id="nome"></td>
			</tr>
			<tr>
				<td>Idade: </td>
				<td><input type="text" name="idade" id="idade"></td>
			</tr>
			<tr>
				<td>Sexo:</td>
				<td>
					<select name="sexo" id="sexo">
						<option value="F">F</option>
						<option value="M">M</option>
					</select>
				</td>
			</tr>
            <tr>
				<td>Tipo:</td>
				<td>
					<select name="tipo" id="tipo">
						<option value="T">Titular</option>
						<option value="D">Dependente</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Confirmar"></td>
			</tr>
		</table>
	</form>
      
=======
      <div id="cadastro">
        <form method="post" action=""> 
          <h1>Cadastro</h1> 
           <br>
          <p> 
            <label for="nome_cad">Seu nome</label>
            <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
          </p>
           
          <p> 
            <label for="email_cad">Seu e-mail</label>
            <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com"/> 
          </p>
           
          <p> 
            <label for="senha_cad">Sua senha</label>
            <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234"/>
          </p>
           
          <p> 
            <input type="submit" value="Cadastrar"/> 
          </p>
           
        
        </form>
      </div>


>>>>>>> 905b43e90180390cbb75daf0ffb398194b04ae72
</body>
</html>