<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro</title>
</head>
<body>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Cadastro">Cadastro</a></li>
        <li><a href="#contact">Categorias</a></li>
        
        <li style="float:right"><a class="active" href="#about">Contato</a></li>
      </ul>

</body>
</html>