<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>--Formulário Contato--</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/styleCont.css" />
<!--   <link href="ContatoEstilo.css" rel="stylesheet" media="all" />
    <script src="JavaScript1.js"></script>-->
</head>

<body>
    <ul>
        
        <li><a href="/">Home</a></li>
        <li><a href="/categorias">Categorias</a></li>
        <li ><a href="/cadastro">Login</a></li>
        <li ><a href="/Upload">Upload</a></li>
        <li ><a href="/Contato">Contato</a></li>
      </ul>



      <div class="grid-container">
        <div class="grid-item item1">
                   
            <h3>Olá!</h3> 
              <p>Quer saber mais sobre os desenvolvedores?</p>
               <p>Visite nosso Linkedin, Github ou entre em contato conosco</p>

        </div>

        <div class="grid-item item2">
           
             <br><br><br>
                          <form action="/action_page.php">
                            <div class="row">
                              <div class="col-25">
                                <label for="fname">Nome</label>
                              </div>
                              <div class="col-75">
                                <input type="text" id="fname" name="firstname" placeholder="Seu nome..">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-25">
                                <label for="email">E-mail</label>
                              </div>
                              <div class="col-75">
                                <input type="text" id="email" name="email" placeholder="Seu email..">
                              </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-25">
                                <label for="subject">Mensagem</label>
                              </div>
                              <div class="col-75">
                                <textarea id="subject" name="subject" placeholder="Deixe sua Mensagem.." style="height:200px"></textarea>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <input type="submit" value="Submit">
                            </div>
                            </form>
            
            </div>
        
        <div class="grid-item item3">
            
            <h3>Veja nosso Github!</h3> 
            <img src="../img/gitswc.jpg"> <br><br>
          <a href="https://github.com/machadomrm/" target="_blank" >Github-William Soren</a>
          <a href="https://github.com/machadomrm/" target="_blank" >Github-Marcelo Machado</a>
            
            </div>  
        
            <div class="grid-item item4">

                <h3>Veja nosso Linkedin!</h3> 
            <img src="../img/linkedin.png"> <br>
           <a href="https://www.linkedin.com/in/marcelo-da-rocha-machado-38b77427/" target="_blank">Linkedin-William Soren</a>
           <a href="https://www.linkedin.com/in/marcelo-da-rocha-machado-38b77427/" target="_blank">Linkedin-Marcelo Machado</a>
               
          
            </div>
        
            <div class="grid-item item5">© William Soren & Marcelo Rocha Machado</div>
      </div>


<script src="../js/script.js"></script>

</body>
</html>