<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Uploads</title>
</head>
<body>
    <header> 
        <ul>
          <form class="search-container">
            <input type="text" id="search-bar" placeholder="Busca">
            <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
          <li><a href="/">Home</a></li>
          <li><a href="/Cadastro">Cadastro</a></li>
          <li><a href="/contact">Categorias</a></li>
          <li ><a href="/login">Login</a></li>
          <li ><a href="/Upload">Upload</a></li>
          <li ><a class="active" href="#about">Contato</a></li> 
        </ul>
        </header><br>
   <h2>Uploads</h2>
    <script src="../js/script.js"></script>
</body>
</html>