body {
    font-family: 'Tourney', cursive, serif;
    font-size: 20px;
    background-image: url("../img/FUNDO 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


ul {
    position: fixed;
    top: 0;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0081a7;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: 252, 110, 110, 0.555;
}

li a:hover {
    background-color: rgb(243, 120, 72);
}
.active {
    background-color: 252, 110, 110, 0.555;
}

img {
    padding-top: 5%;
    width: 15%;
}
h1{
    text-align: center;
    color :rgb(255, 255, 255); 
}
h2{
    text-align: center;
    color :rgb(255, 255, 255); 
}

p{
    text-align: center;
    color :rgb(255, 255, 255); 
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


label {
    color :rgb(255, 255, 255);  
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 6px;
}
input[type=submit]:hover {
    background-color: #45a049;
  }

  form {
    margin-left: 30%;
    width: 30%;  
    border-radius: 5px;
    background-color: #455e89;
    padding: 20px;
  }



  
